// import mixins
@import "../mixins/helpers";

.template-collection {
  .type-banner__image {
    flex: 0 0 50%;
  }
}

.type-banner .promo-grid__container {
  background: #fff;
}

.collection-promo {
  .flex-grid--collection-template {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .collection-promo {
    .flex-grid--collection-template {
      margin-bottom: 15px;
    }
  }
}

.index-section {
  margin-bottom: 0px;
  @media screen and (max-width: 767px) {
    margin-bottom: 22px;
  }
}

.usf-sr-paging {
  opacity: 0 !important;
  visibility: hidden;
  padding: 0;
}

.usf-zone .grid--view-items {
  margin-bottom: 15px !important;
}

.usf-zone {
  .usf-facets__body {
    .usf-label {
      font-size: calc(var(--typeBaseSize) * 0.85) !important;
    }
  }
}

.usf-filters-horz .usf-facets {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.section-header--hero .section-header__title {
  font-size: var(--typeHeaderSize);
}

.usf-mobile .usf-body {
  background: var(--colorNav) !important;
}
