{%- assign color_tint_opacity = section.settings.color_tint_opacity -%}
  {%- assign opacity_background_color = section.settings.opacity_background_color -%}
  {%- style -%}
  #blog-grid .item-full .grid__image-ratio:after,
  #blog-grid .item-bg .grid__image-ratio:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: {{ color_tint_opacity }};
    {% if opacity_background_color != blank %}
    background: {{ opacity_background_color }};
    {% else %}
    background: #1e001e;
    {% endif %}
  }
  {%- endstyle -%}
<style>
  #monacoducks-blogs-heading {
    color: #F35E18;
    font-size: 32px;
    background: #fff;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #eee;
  }
  #blog-grid .grid__item {
    position: relative;
    min-height: 430px;
  }
  #blog-grid .grid__item.item-bg {
    height: auto !important;
  }

  #blog-grid .article__grid-meta {
    text-align: center;
    /* position: relative;  */
    z-index: 10;
    padding: 30px 15px 15px 0px;
    height: 100%;
  }

  #blog-grid .grid__item.item-bg .article__grid-meta {
    padding-bottom: 0px !important;
  }

  #blog-grid .article__grid-meta .grid__item--bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px 30px;
    z-index: 9;
  }

  #blog-grid .grid__item.item-bg .article__grid-meta .grid__item--bottom {
    position: static;
    padding-bottom: 0px !important;
  }

  #blog-grid .article__excerpt,
  #blog-grid .article__readmore a {
    font-size: 16px;
    line-height: 26px;
  }

  #blog-grid .article__readmore a {
    font-weight: bold;
  }

  #blog-grid .article__readmore span {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  #blog-grid .article__grid-meta .article__title {
    font-size: calc(var(--typeHeaderSize)*0.73);
    line-height: 42px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }

  #blog-grid .item-full .grid__image-ratio {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  #blog-grid .item-full, #blog-grid .item-full a {
    color: #fff;
  }
  
  #blog-grid .item-full .article__readmore span {
    border-color: #fff;
  }

  #blog-grid .item-bg .grid__image-ratio {
    margin-top: 15px;
  }

  #blog-grid .item-bg {
    background: var(--colorNav);
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    #blog-grid .medium-up--one-third {
      width: 50%;
    }
  }
  
</style>

<div id="monacoducks-blogs-heading">
  {{ 'blogs.article.blogs_title' | t }}
</div>

{%- paginate blog.articles by 21 -%}

<div data-section-id="{{ section.id }}" data-section-type="blog">

    <div id="blog-grid" class="grid grid--uniform">
      {%- for article in blog.articles -%}
        {%- render 'article-grid-item-list', article: article, grid_item_width: 'medium-up--one-third', per_row: '3', image_size: section.settings.blog_image_size, index: forloop.index -%}
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}

</div>

{%- endpaginate -%}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_tag_filter",
        "label": "Show tag filter"
      },
      {
        "type": "checkbox",
        "id": "blog_show_rss",
        "label": "Show RSS link"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      },
      {
        "type": "range",
        "id": "color_tint_opacity",
        "label": "Overlay",
        "default": 0.1,
        "min": 0,
        "max": 1,
        "step": 0.1
      },
      {
        "type": "color",
        "id": "opacity_background_color",
        "label": "Background color"
      }
    ]
  }
{% endschema %}
